*.zip
*.sql
*.drawio
EXAMEN-20octubre/
expresionesRegu.html

#para dejar de rastrear un archivo ya añadido:
#git rm --cached nombre.extension

#para dejar de rastrear un directorio ya añadido:
#git rm -r --cached nombre_directorio