:root {
  --fondoPagina: rgb(125, 177, 179);
  --fondoBoton: rgb(128, 128, 128, 0.3);
  --amarilloSuave: rgb(255, 220, 154);
  --colorAccent: rgb(179, 138, 134);
  --rojoSuave: rgb(165, 42, 42, 0.4);
  --verdeSuave: rgba(42, 165, 46, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--fondoPagina);
}

h1 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  border-bottom: solid black 4px;
  background-color: var(--amarilloSuave);
  height: 90px;
  margin: auto;
  padding-top: 18px;
}

main {
  padding: 2vh 4vw;
}

div.contenedor {
  float: left;
  padding: 20px 10px;
}

div.contenedor div:nth-child(2),
div.contenedor div:nth-child(3) {
  background-color: var(--rojoSuave);
  border: solid black 1px;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  float: right;
  padding-top: 0.4vh;
  margin-top: 1vh;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

div.contenedor div:nth-child(3) {
  background-color: var(--verdeSuave);
  margin-right: 20px;
}

div.nota {
  border: solid grey 3px;
  border-radius: 6px;
  width: 25vw;
  background-color: white;
  padding: 10px;
}

div.nota > h4 {
  padding-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
}

div.nota > p {
  padding: 10px 0;
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
}

div.add {
  padding: 3vh 1vw;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 6px;
  height: 10vh;
  float: left;
  border: solid grey 3px;
  background-color: var(--fondoBoton);
}

.navegacion {
  padding: 2vh 1vw;
  border-radius: 6px;
  height: 8vh;
  width: 40vw;
  margin: auto;
  margin-top: 20px;
  border: solid grey 1px;
  background-color: var(--fondoBoton);
  text-align: center;
  font-size: 1.15em;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Kanit', sans-serif;
}

/* Vista "insert" --------------------------------- */
div.nuevaNota {
  width: 40vw;
  margin: auto;
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
  font-size: 1.25em;
  text-align: center;
}

.nuevaNota p {
  margin-bottom: 10px;
}

.nuevaNota input {
  width: 100%;
  height: 30px;
}

.nuevaNota label {
  display: block;
}

.nuevaNota textarea {
  height: 100px;
  width: 100%;
  margin: auto;
}

.nuevaNota input#submit {
  background-color: var(--colorAccent);
  height: 60px;
  width: 100%;
  border: solid black 3px;
  border-radius: 6px;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 1em;
  margin: 10px 0 30px 0;
}

/* Vistas "confirmar" y "eliminar" --------------------------- */
.eliminar {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Kanit', sans-serif;
}

h3.eliminar {
  margin-top: 30px;
  margin-bottom: 10px;
}

.eliminar div {
  display: inline-block;
  height: 48px;
  width: 10vw;
  margin: 30px 20px 0 20px;
  padding-top: 7px;
  border: solid black 1px;
  border-radius: 6px;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

.eliminar div:nth-child(1) {
  background-color: var(--rojoSuave);
}

.eliminar div:nth-child(2) {
  background-color: var(--verdeSuave);
}

.eliminar a {
  color: black;
}
